 *,
        *::after,
        *:before{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        html{
            font:normal 20px/1.5 tahoma;
            text-align: center;
            background-color: #5494ab;
            
        }
        h1{
            margin: 1rem 2rem;
            display: flex;
            color: white;
            margin-left: 50px;
            font-family: 'Antic';font-size: 50px;
            letter-spacing: 4px;
            font-weight: lighter;
        }
        form{
            margin: 2rem;
            width: 800px;
            float: center;
        }
        .form-box{
            padding: 1rem;
            clear: both;
            width: 100%;
            position: relative;
            text-align: left;
        
        }
        .form-box label{
            font-size: 1rem;
            float: center;
            width: 100px;
            margin-right: 20px;
            display: flex;
            display: inline-flex;
            color: white;
            font-family: 'Antic';font-size: 25px;
            
            
        }
        .form-box input{
            font-size: 1rem;
            width: 300px;
            padding: 0.25rem 1rem;
            font-family: 'Antic';font-size: 22px;
        }
        .form-box select{
            font-size: 1rem;
            width: 300px;
            padding: 0.25rem 1rem;
            font-family: 'Antic';font-size: 22px;
        }
        .form-box option{
            font-size: 1rem;
            width: 300px;
            padding: 0.25rem 1rem;
            
        }
        .form-box input[type="checkbox"]{
            font-size: 1rem;
            -ms-transform: scale(2);
            transform: scale(2);
            padding: 10px;
            
            
        }
        .form-box button{
            font-size: 1rem;
            border: none;
            padding: 0.25rem 2rem;
            margin-right: 1rem;
            color: white;
            background-color: #ab6b54;
            cursor: pointer;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            font-family: 'Antic';font-size: 20px;
            
            
        }


        
        
        .error::after{
            background-color: hsl(10, 60%, 50%);
            color: papayawhip;
            font-size: 1rem;
            line-height: 1.8;
            width: 350px;
            padding-left: 1rem;
            position:absolute;
            right: 0;
            content: attr(data-errormsg);
        }